html,
body {
  /* position: relative; */
  min-height: 100vh;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

b {
  font-weight: bold !important;
}

main {
  padding-bottom: 100px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.btn-outline-warning {
  color: #ffd700;
  outline: none;
  box-shadow: none;
  border: none;
}

.btn-outline-warning:hover {
  color: black;
  background-color: #ffd700;
  outline: black;
  box-shadow: black;
  font-weight: bold;
}
